$primaryColor: #0414b3;
$secondaryColor: #7f14d4;
$tertiaryColor: #0e14ee;
$quaternaryColor: #3e14e9;

$linkColor: white;

$line-height: 1.5;

$big-margin: 50px;
$small-margin: 20px;

$small-img: 150px;
$medium-img: 250px;